In [2]:
import requests
import json
import pandas as pd
import csv

In [4]:
url = "https://pogoapi.net/api/v1/pokemon_genders.json"
url_response = requests.get(f"{url}").json()

In [21]:
output = pd.DataFrame()

for i in range(5):
    dictionary = url_response["0M_1F"][i]
    output = output.append(dictionary, ignore_index=True)

In [22]:
output

       form                   gender  pokemon_id pokemon_name
0   Vs_2019  {'female_percent': 1.0}        25.0      Pikachu
1    Normal  {'female_percent': 1.0}        29.0     Nidoran♀
2  Purified  {'female_percent': 1.0}        29.0     Nidoran♀
3    Shadow  {'female_percent': 1.0}        29.0     Nidoran♀
4    Normal  {'female_percent': 1.0}        30.0     Nidorina